.classpath
.DS_Store
.project
.settings
.touch
gradlew
gradlew.bat

/bin
/build
/classes
/gradle

**/.sass-cache
**/.classpath
**/.gradle
**/.project
**/.settings
**/.touch
**/bin
**/build
**/classes
/.lfrbuild-portal